#box {
  width: 400px;
  height: auto;
}

#contrlBox {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  user-select: none;
}

#passwordBox {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  word-break: break-all;
}

#length {
  width: 80px;
}

#copyButon {
  border: 0ch;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 18px;
}

#copyButon,
#symbolsCheckBox,
#checkLabel,
#range {
  vertical-align: middle;
}

#copyButon:hover,
#symbolsCheckBox:hover,
#checkLabel:hover,
#range:hover {
  cursor: pointer;
}

#copyButon:hover {
  background-color: aqua;
  color: gray;
}