#box {
  width: 380px;
  height: auto;
}

#contrlBox {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  user-select: none;
}

#passwordBox {
  font-size: 20px;
  text-align: center;
  margin: 16px;
  word-break: break-all;
}

#length {
  width: 60px;
  padding-left: 18px;
  text-align: center;
}

#copyButon {
  border: 0ch;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 18px;
  color:green;
  background-color: aliceblue;
}

#copyButon,
#symbolsCheckBox,
#checkLabel,
#range {
  vertical-align: middle;
}

#copyButon:hover,
#symbolsCheckBox:hover,
#checkLabel:hover,
#range:hover {
  cursor: pointer;
}

#copyButon:hover {
  background-color: green;
  color: aliceblue;
}

#copyButon:active {
  color: green;
  background-color: aliceblue;
}