html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #3b3b3b;
  accent-color: #3b3b3b;
}

#box {
  width: 24rem;
  height: auto;
}

#contrlBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  height: 2.5rem;
  margin-top: 0.25rem;
  user-select: none;
}

#passwordBox {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem 1rem;
  word-break: break-all;
}

#length {
  width: 4rem;
  text-align: center;
  border: 0.05rem solid #3b3b3b;
  border-radius: 0.1rem;
  outline: none;
  background-color: #f7f7f7;
}

#symbolsCheckBox {
  display: none;
}

#checkLabel:has(#symbolsCheckBox) {
  color: #aaa;
}

#checkLabel:has(#symbolsCheckBox:checked) {
  color: #3b3b3b;
}

#copyButon {
  border: 0.05rem solid #3b3b3b;
  border-radius: 0.1rem;
  font-size: 1.1rem;
  background-color: #f7f7f7;
}

#copyButon,
#symbolsCheckBox,
#checkLabel,
#range {
  vertical-align: middle;
}

#copyButon:hover,
#symbolsCheckBox:hover,
#checkLabel:hover,
#range:hover {
  cursor: pointer;
}

#copyButon:hover {
  background-color: #3b3b3b;
  color: #f7f7f7;
}

#copyButon:active {
  color: #3b3b3b;
  background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #3b3b3b;
    color: #f7f7f7;
    accent-color: #f7f7f7;
  }

  #length {
    border: 0.05rem solid #f7f7f7;
    background-color: #3b3b3b;
    color: #f7f7f7;
  }

  #checkLabel:has(#symbolsCheckBox:checked) {
    color: #f7f7f7;
  }

  #copyButon {
    border: 0.05rem solid #f7f7f7;
    background-color: #3b3b3b;
    color: #f7f7f7;
  }

  #copyButon:hover {
    background-color: #f7f7f7;
    color: #3b3b3b;
  }

  #copyButon:active {
    color: #f7f7f7;
    background-color: #3b3b3b;
  }
}